<body>
    <%- include ("partials/header.ejs") %>

    <% if (notes.length != 0) { %>
        <h3>My Notes on <em> <%= notes[0].book_name %> </em></h3>
        <ol>
            <% notes.forEach((note) => { %>
                <li id="<%=note.id%>"> <%= note.note %> </li>

                <form action="/delete_note" method="POST">
                    <input type="hidden" name="note_id" value="<%= note.id %>">
                    <input type="hidden" name="book_id" value="<%= note.book_id %>">
                    <button class="delete_note" type="submit">Delete Note</button>
                </form>
            <% }); %>
        </ol>
    <% } else { %>
        <h3>No notes for this book!</h3>
    <% } %>

   <em><h3>Add New Note</h3></em>
   <form action="/addnote" method="POST">
        <label for="note">Enter Note:</label>
        <input type="text" id="note" name="note" required>
        <input type="hidden" name="book_id" value="<%=bookId%>">
        <button type="submit">Add</button>
   </form>

<!-- <script>
    function deleteNoteHandler(event) {
        alert("This button is kinda working");
        window.location.href = "/delete_note";        
    };

    const deleteButtons = document.getElementsByClassName("delete_note");
    for (let i = 0; i < deleteButtons.length; i++) {
        deleteButtons[i].addEventListener("click", deleteNoteHandler);
    };
</script> -->
</body>
</html>