<body>
    <%- include ("partials/header.ejs") %>

    <% if (notes.length != 0) { %>
        <h3>My Notes on <em> <%= notes[0].book_name %> </em></h3>
        <ol>
            <% notes.forEach((note) => { %>
                <li> 
                    <p id="note-<%=note.id%>"><%= note.note %></p> 
                

                    <form action="/delete_note" method="POST">
                        <input type="hidden" name="note_id" value="<%= note.id %>">
                        <input type="hidden" name="book_id" value="<%= note.book_id %>">
                        <button class="delete_note" type="submit">Delete Note</button>
                    </form>
                    
                    <button type="button" class="edit_button" onclick="editButtonHandler(this, <%=note.id%>)">Edit</button>
                    <button type="button" class="save_button" style="display: none;" onclick="saveButtonHandler(this, <%=note.id%>, <%=note.book_id%>)">Save</button>
                </li>

                <!-- <form action="/edit_note" method="POST"></form> -->
            <% }); %>
        </ol>
    <% } else { %>
        <h3>No notes for this book!</h3>
    <% } %>

   <em><h3>Add New Note</h3></em>
   <form action="/addnote" method="POST">
        <label for="note">Enter Note:</label>
        <input type="text" id="note" name="note" required>
        <input type="hidden" name="book_id" value="<%=bookId%>">
        <button type="submit">Add</button>
   </form>

<script>

    function modeSwitcher(operationCode, noteId, element) {
        // Gets the Note, edit and Save buton
        let noteElement = document.getElementById(`note-${noteId}`);
        let editButton = noteElement.nextElementSibling.nextElementSibling; // Identifies the edit button which is two nodes away from the noteElement
        let saveButton = editButton.nextElementSibling; // Identifies the Save button which is a node away from the Edit button.

        // operationCode = 1 to enter edit mode when edit button is clicked. Edit button will hide.
        // operationCode = 2 to leave edit mode when save button is clicked and note is saved succesfully.
        if (operationCode){
            // Gets default note value(<p>) and creates a new input element
            let oldElement = document.getElementById("note-" + noteId);
            let newElement = document.createElement("input");

            newElement.value = oldElement.textContent;
            newElement.id = `note-${noteId}`;
            element.parentNode.replaceChild(newElement, oldElement);
            newElement.focus(); // focuses the cursor on the new input element

            // Hides the edit button and displays the save button.
            editButton.style.display = "none";
            saveButton.style.display = "inline-block";
        } else {
            // Gets default note value(<p>) and creates a new input element
            let oldElement = document.getElementById("note-" + noteId);
            let newElement = document.createElement("p");

            newElement.textContent = oldElement.value;
            newElement.id = `note-${noteId}`;
            element.parentNode.replaceChild(newElement, oldElement);
            // newElement.focus(); // focuses the cursor on the new input element

            editButton.style.display = "inline-block";
            saveButton.style.display = "none";
        }
    }

    function editButtonHandler(element, noteId) {
        modeSwitcher(1, noteId, element);
    };

    async function saveButtonHandler(element, noteId, bookId) {
        // Gets the note input element and saves to note variable
        let noteElement = document.getElementById(`note-${noteId}`);
        let note = noteElement.value;
        
        if (!note) {
            alert("ERROR! NOTE IS EMPTY")
        } else {
            console.log("Typeof note: " + typeof(bookId));
            console.log("book Id content: " + bookId);
        }

        //Using the fetch API to set a POST request
        const response = await fetch("/edit_note", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ editedNote: note, noteId: noteId, bookId: bookId}), // Properly wrap note in an object
        });

        if (response.ok) {
            modeSwitcher(0, noteId, element);
            console.log("Note saved successfully");
        } else {
            console.error("Error saving note");
        }
}

</script>
</body>
</html>